##  Example ACQ4 configuration file.
##
##
##


# Devices are defined in another config file:
devices:

    SliceScope:
        driver: 'Scientifica'
        port: 'com104'
        scale: -1e-6, -1e-6, 1e-6  # convert um to m
        params:
            currents: 200, 125  # be careful to follow manufacturer specs!
            axisScale: 5.12, -5.12, -6.4  # +x points right, +y points away, +z points up
            joyDirectionX: True
            joyDirectionY: True
            joyDirectionZ: False
            minSpeed: 1000
            maxSpeed: 30000
            accel: 500
            joySlowScale: 4
            joyFastScale: 80
            joyAccel: 500

    Microscope:
        driver: 'Microscope'
        parentDevice: 'SliceScope'
        objectives:
            0:  # first slot always has a 5X objective
                5x_0.25NA_0.63:
                    name: '5x 0.25na FLUAR w/ 0.63 adapter'
                    scale: 1.0 / (5.0 * 0.63)
                    offset: -231*um, 76*um, -556*um
                5x_0.25NA:
                    name: '5x 0.25na FLUAR'
                    scale: 1.0 / 5.0
            1:  # second slot may have a 40x or 63x objective
                40x_0.63:
                    name: '40x 0.75na Achroplan w/ 0.63 adapter'
                    scale: 1.0 / (40.0 * 0.63)
                    offset: 0, 0, 0
                40x:
                    name: '40x 0.75na Achroplan'
                    scale: 1.0 / 40.0
                    offset: 0, 0, 0
                63x_0.9NA:
                    name: '63x 0.9na Achroplan'
                    scale: 1.0 / 63.0
                    offset: 0*um, 0*um, -451*um

    Camera:
        driver: 'MicroManager'
        mmAdapterName: 'HamamatsuHam'
        mmDeviceName: 'HamamatsuHam_DCAM'
        parentDevice: 'Microscope'
        transform:
            pos: (0, 0)
            scale: (4.088 * um/px, -4.088 * um/px)
            angle: 0

        params:                             ## default parameters to apply to camera at startup
            #TEMP_SETPOINT:  -2000
            exposure: 10e-3
            binning: 4,4    


        
modules:
    Data Manager:
        module:  'DataManager'
        shortcut: 'F2'
    Task Runner:
        module: 'TaskRunner'
        shortcut: 'F6'
        config:
            ## Directory where Task Runner stores its saved tasks.
            taskDir: 'config/example/protocols'
    Camera:
        module: 'Camera'
        shortcut: 'F5'
    Patch 1:
        module: 'Patch'
        shortcut: 'F3'
        config:
            clampDev: 'Clamp1'
    Console:
        module: 'Console'
        config: None
    Imager:
        module: 'Imager'
        config:
            # Names of modules and devices needed by the Imager
            cameraModule: 'Camera'
            scanner: 'Scanner'
            laser: 'Laser-UV'
            detector: 'PMT', 'Input'
            attenuator: 'PockelsCell', 'Switch'
    TaskMonitor:
        module: 'TaskMonitor'

## Defines the folder types that are available when creating a new folder via
## the Data Manager. Each folder type consists of a set of metadata fields
## that will be created with the folder.            
folderTypes: readConfigFile('folderTypes.cfg')

## Base directory where ACQ4 will keep acquired data. It is recommended
## that experimenters create a hierarchy of folders within this directory to
## organize their data.
# storageDir: '/home/user/data'

## Default compression method to use when writing HDF5 data files. Examples:
##   'gzip'        # Widely available filter, but slow
##   ('gzip', 1)   # Same filter with compression level given (0-9)
##   'lzf'         # Fastest compression; generally only available with h5py
##   'szip'        # Proprietary filter; faster but not available everywhere
##   None          # No compression
## By default, we disable compression because 'gzip' is too slow and 
## 'lzf' / 'szip' are not available on all HDF5 installations.
defaultCompression: None

configurations:
    User_1:
    User_2:

## For controlling the appearance of the GUI:            
stylesheet: 'style.css'
